body {
    margin: 0;
    padding: 0;
    
}

.clearfix {
    clear: both;
}


.container {
    width: auto;
    margin: 0 auto;
}

.header {
   text-align: center;  
}

.listname li{
    list-style: none;
    text-align: center;
}
