body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
    background-size: 100%;
}

.clearfix {
    clear: both;
}


.container {
    width: auto;
    margin: 0 auto;
}

.menubar {
    width: 100%;
    height: 50px;
    background: #D3D3D3;
    box-shadow: 0 0 10px #666; 
}

.menubar .logo {
    float: left;
    margin-block-start: 0px;
}

.menubar h1 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    padding: 10px;
}
.menubar ul.menu {
    list-style: none;
    float: right;
}
.menubar ul.menu li {
    float: left;
    margin-right: 20px;
}
.menubar ul.menu li a {
    text-decoration: none;
    color: #333;
    border-bottom: 2px solid transparent;
    padding-bottom: 20px;
    transition: all 0.3s ease;
}
.menubar ul.menu li a:hover {
    border-bottom: 2px solid #333;
    padding-bottom: 0;
}

.header {
    background: #666 url(../img/bg.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 450px;
}

.header_area {
    padding-top: 150px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    width: 660px;
}
.header_area h1 {
    margin: 0;
    font-size: 60px;
    font-weight: normal;
}
.header_area p {
    margin: 0 auto;
    margin-top: 15px;
    width: 480px;
    font-size: 16px;
}


.info1 {
    width: 100%;
    height: 400px;
}
.info1_area {
    color: #333;
}
.info1_area img {
    margin-top: 80px;
    margin-left: 100px;
    float: left;
}
.info1_text {
    color: #fff;
    text-align: left;
    width: 460px;
    float: left;
    margin-left: 70px;
    margin-top: 140px;
}
.info1_area h1 {
    margin: 0;
    font-weight: normal;
}

